version: '3.1'
services:
  postgres:
    image: postgres
    expose:
      - '5432'
  minio:
    image: minio/minio
    volumes: 
      - ./storage:/storage
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: MINIOSERVER
      MINIO_SECRET_KEY: MINIOSERVERSECRET
    command: server storage
  web:
    build: .
    command: /bin/bash -c "cmd/local-prep.sh"
    ports:
     - "3333:3333"
    volumes:
     - .:/code
    depends_on:
      - postgres
      - minio
    environment:
      DATABASE_URL: postgres://postgres:@postgres:5432/
