---
applications:
- name: fs-middlelayer-api-staging
  buildpack: https://github.com/cloudfoundry/nodejs-buildpack
  memory: 128M
  instances: 1
  services:
    - fs-api-s3
    - fs-api-db
    - nrm-suds-url-service
    - auth-service
